.container{
    height: 25vh !important;
    width: 100vw !important;
}

#Acesso{
    background: linear-gradient(180deg, #21B514 58.18%, #F0F0F0 100%);

}

#login{
    height: 100vh;
    width: 100vw;
}
#login img{

    position: relative;
    top: 1%;
    left: 35%;
    width: 30%;   

}

#btnEntrar{
    border-radius: 10px;
}

#btnCadastrese{
    border-radius: 10px;
}


.formCadastroLogin{
    background: #E2E2E2;
    border-radius: 10px;
}
.formCadastroLogin input{
    border-bottom : 1px solid transparent !important;
}

#Perfil img{
    position: relative;
    top: 4%;
    left: 36%;
    width: 34%;
}

#btnTrocaFoto{
    position: Relative;
    width: 145px;
    height: 28px;
    left: 126px;
    top: 46px;
    background: #C4C4C4;
    border-radius: 50px;
}

#btnSalvar{
    border-radius: 10px;
}

#arrow{
    position: absolute;
    left: 4.77%;
    right: 87.19%;
    top: 2.71%;
    bottom: 93.45%;
}

#topo img{
    position: relative;
    top: 2.71%;
    left: 85.19% ;
    width: 7%;
}

#mid img{
    position: relative;
    top: 2.71%;
    left: 15% ;
    width: 80%;
}

#btnBuscar{
    border-radius: 10px;
}

#Descrição{
    position: relative;
    left: 0.6%;
    right: 3.77%;
    top: 41.75%;
    bottom: 3.57%;
    background: #F0F0F0;
    border-radius: 10px;
}

#cabeçalho{
    font-weight: bold;
}

#Redes{
    font-weight: bold;
}

#btnContratar{
    border-radius: 10px;
}